<!DOCTYPE html>
<html lang="en"> 
    <head>
        <title>Private OSINT Password Analyzer</title>
    </head>
    <body>
        <h1>Private OSINT Password Analyzer</h1>
        <form action="/" method="POST">
            <label for="password">Enter a password to analyze:</label><br>
            <input type="text" id="password" name="password" placeholder="{{ password }}" required>
            <input type="submit" value="Analyze"><br><br>
        </form>
       <main>
        {% if password %}
            <h2>Analysis Results for: {{ password }}</h2>
            <h3><strong>Score</strong>: <span style="color: {{ color }};">{{ scorestr }}</span></h3><br>
            <h2>Feedback</h2>
            <table>
                {% for item in feedback %}
                <tr>
                    <th type="row">{{ item }}</th>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td>{{ feedback[item] }}</td>
                </tr>
                {% endfor %}
        {% endif %}
       </main>
    </body>
</html>